body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  margin: auto;
  width: 100vw;
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sprite-right{
  text-align: right;
  width: 200px;
}

.sprite-left{
  text-align: left;
  width: 200px;
}

.border{
  border:1px  solid #000;
  padding: 5px;
  margin: 5px;
}

.flex{
  display:flex;
}

.center{
  display: flex;
  align-items: center;
  flex-direction: column;
}